

/*background image css*/
.amarillo {
    background-image: url("public_html/documentation/Green CR.jpg");
background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}


.cadillac-ranch {
    font-family: "ui-monospace" ;
    font-size: 50px;
    margin-bottom: -0.3em;
    text-shadow: 3px 3px 3px #222;
}

.amarillo-texas {
    font-family: "ui-monospace" ;
    font-size: 20px;
    margin-bottom: -0.5em;
}

.EST {
    font-family: "ui-monospace" ;
    font-size: 20px;
    padding-top: .7em;


}

.hours {
    font-size: 20px;
}

.map {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}

.merchTrailerHours { background-color: lightgrey; }

img[src="image/lume.jpg"] {
    width:450px;
    height:400px;
    float: left;
}
img[src="image/sunset.jpg"] {
    width:456px;
    height:400px;
    float: right;
}


img[src="image/sky.jpg"] {
    width:920px;
    height:200px;
    position:center;
}

.our {
    font-size: 20px;

}

.story {
    font-size: 11px;
}

img[src="image/hairy.jpg"] {
    width:200px;
    height:200px;
    float: right;
    padding-left: 1em;
}
img[src="image/halo.jpg"] {
    width:200px;
    height:200px;
    float: right;
}

img[src="image/slug.jpg"] {
    width:200px;
    height:200px;
    float: right;
    padding-right: 1em;
}

.wrap {
    foat:left;
    font-size: 11px;

}

img[src="image/logo.png"] {
    width:200px;
    height:200px;
    float: right;
    margin-right: 200px;
    padding-top: 3em;
}

